
@{
    ViewBag.Title = "Hünerli";
}

<table border="1">
    <thead>
        <tr>
            <th>Aktif Kullanıcı</th>
            <th>Toplam Ziyaretçi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.OnlineUsers</td>
            <td>@ViewBag.TotalUsers</td>
        </tr>
               </tbody>
</table>
    <div class="jumbotron col-md-push-12" style=" background-image: url('../../Content/img/orange.gif');background-repeat:no-repeat;background-position:center;">




        <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    </div>>
